@media (max-width: 1400px) {
    .container {
        max-width: none;
        padding: 0 10px;
        // width: 100%;
        margin: 0 10px;
    }
    .product__btn-next,
    .product__btn-prev,
    .buy-plus__btn-next,
    .buy-plus__btn-prev,
    .partner__btn-next,
    .partner__btn-prev,
    .about__btn-next,
    .about__btn-prev,
    .main-slider__btn-prev,
    .main-slider__btn-next {
        display: none;
    }

    .map__v-line {
        &:nth-child(1) {
            left: 10px;
        }
        &:nth-child(2) {
            right: 10px;
        }
    }
    .catalog__grid-line {
        &:nth-child(1) {
            left: calc(33.3% - 1px);
        }
        &:nth-child(2) {
            right: calc(33.3% - 1px);
        }
    }
    .services {
        & .container {
            & .grid__h-line {
                &:nth-child(1) {
                    left: calc(25% - 2px);
                }

                &:nth-child(3) {
                    right: calc(25% - 2px);
                }
            }
        }
        &__round-wrapper {
            position: absolute;
            top: calc(50% + 5px);
            left: calc(50% - 2px);
            width: calc(100% + 25px);
            height: calc(100% + 40px);
            transform: translate(-50%, -50%);
            overflow: hidden;
            & .line {
                position: absolute;
                left: 0;
                bottom: 0;
                height: 200%;
                width: 100%;
                border-radius: 50%;
                border: 1px solid var(--line-color);
            }
        }
    }
    .product,
    .buy-plus,
    .partner,
    .about {
        &__pagination {
            display: block;
        }
    }
    .galery {
        & .container {
            & .grid-line {
                &:nth-child(1) {
                    left: calc(25% - 2px);
                }
                &:nth-child(2) {
                    left: 50%;
                }
                &:nth-child(3) {
                    right: calc(25% - 2px);
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .main-slide__title {
        font-size: 40px;
    }
    .section-title {
        font-size: 38px;
    }
    .services__grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .services__round {
        display: none;
        // grid-column-end: 4;
    }
    .services {
        & .grid__h-line {
            display: none;
        }
    }
    .galery {
        &__grid {
            grid-template-columns: repeat(3, 1fr);
        }
        & .grid-line {
            display: none;
        }
    }
    .map__description {
        transform: translate(-80%, -50%);
    }
    .map__info-block {
        padding: 20px 25px;
    }
    .map__grid {
        column-gap: 12px;
        row-gap: 15px;
    }
    .product-list__calc-wrapper {
        flex-direction: column;
    }
    .product-list__grid_short {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-lines {
        display: none;
    }
}
@media (max-width: 1100px) {
    .header__nav-list {
        gap: 15px;
    }
    .header__nav-list-title {
        font-size: 10px;
        white-space: nowrap;
    }
}

@media (max-width: 1000px) {
    .footer__menu {
        display: none;
    }
    .map__description {
        transform: translate(-100%, -50%);
    }
    .map__grid {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .map__wrapper {
        height: 750px;
    }
    .map iframe {
        height: 100%;
    }
    .map__v-line {
        height: 750px;
    }
    .other-product__grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }
    .history__timeline-bg img {
        height: auto;
        width: 1000px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 900px) {
    .product__presentation {
        flex-direction: column;
    }
    .product__slider_main {
        aspect-ratio: 1.5/1;
    }
    .product__title {
        font-size: 26px;
    }
}
@media (max-width: 860px) {
    .header__nav-line {
        height: 35px;
        gap: 20px;
    }

    .header__nav-list-title {
        font-size: 10px;
    }
    .header__phone-number {
        display: none;
    }
    .header__logo-block {
        height: 50px;
    }
    .header__logo {
        height: 20px;
    }
    .header__search input {
        height: 20px;
        font-size: 10px;
    }
    .btn {
        height: 36px;
        font-size: 12px;
    }
    .header__nav-list {
        display: none;
    }
    .header__price-list-block {
        display: flex;
    }
    .main-slide__info {
        max-width: 270px;
    }
    .main-slide__text {
        max-width: 270px;
    }
    .main-slider {
        height: 300px;
    }
    .main-slide__title {
        font-size: 26px;
    }
    .main-slide__text {
        font-size: 12px;
    }
    .main-slide__btn {
        margin-top: 28px;
    }
    .main-slider__pagination {
        bottom: 15px !important;
    }
    .main-slide__img {
    }
    .section-title {
        font-size: 27px;
    }
    .text {
        font-size: 12px;
    }
    .small-title {
        font-size: 12px;
    }
    .catalog .grid__item-subtitle {
        font-size: 8px;
    }
    .small-btn {
        width: 22px;
        height: 13px;
        border-radius: 2px;
        & svg {
            width: 7px;
        }
    }
    .questions__item {
        padding: 15px 40px 15px 15px;
    }
    .questions__item-title {
        font-size: 15px;
    }
    .questions__item-btn {
        width: 10px;
        height: 10px;
        top: 18px;
        right: 20px;
    }
    .partner__link {
        font-size: 12px;
    }

    .order__form-title {
        font-size: 20px;
    }
    .order__input-title {
        font-size: 12px;
    }
    .order__input-block {
        margin-top: 20px;
    }
    .order__input-block input {
        height: 42px;
    }
    .order__wrapper {
        gap: 20px;
    }
    .order__form {
        padding: 0;
        flex: 0 0 48%;
    }
    .order__img {
        flex: 0 0 48%;
    }
    .map__desktop {
        display: none;
    }
    .map__mobile {
        display: block;
    }
    .map__description {
        width: 280px;
        top: 48px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .map__info-title {
        font-size: 26px;
    }
    .map__grid-title {
        font-size: 12px;
    }
    .map__grid-info {
        font-size: 15px;
    }
    .section-title {
        padding-top: 30px !important;
    }
    .catalog__text {
        margin-top: 10px;
        &:last-child {
            padding-bottom: 10px;
        }
    }
    .catalog__grid {
        padding: 10px 0;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .catalog__grid-line,
    .catalog__center-line {
        display: none;
    }
    .catalog__space {
        height: 20px;
    }
    .advantages__title {
        padding-bottom: 26px;
    }
    .advantages__grid {
        padding: 14px 10px;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .advantages__item-img {
        flex: 0 0 70px;
    }
    .advantages__grid-line,
    .advantages__center-line {
        display: none;
    }
    .advantages__space {
        height: 22px;
    }
    .video__content {
        padding: 0;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .video__info {
        padding: 0;
        align-self: start;
        flex: 0 0 auto;
        width: auto;
    }
    .video__frame {
        padding-bottom: 30px;
        flex: 0 0 100%;
        width: 100%;
        aspect-ratio: 32/18;
    }
    .services__subtitle {
        padding-bottom: 10px;
    }
    .services__grid {
        padding: 10px 0;
        gap: 11px;
        grid-template-columns: repeat(2, 1fr);
    }
    .services__item {
        aspect-ratio: inherit;
        padding-bottom: 50px;
    }
    .services {
        & .grid__h-line {
            display: none;
        }
    }
    .services__item .grid__item-img {
        height: auto;
    }
    .about__slider {
        margin-top: 25px;
    }
    .about__slide-name {
        font-size: 15px;
    }
    .about__slide {
        aspect-ratio: inherit;
    }
    .questions__accordeon {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .galery__text {
        margin-bottom: 10px;
    }
    .galery__grid {
        padding: 10px 0;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
    .galery__space {
        height: 50px;
    }
    .partner__link {
        display: none;
    }
    .partner__space_top {
        height: 5px;
    }
    .partner__slider {
        margin-top: 30px;
    }
    .order__wrapper {
        padding-top: 40px;
        padding-bottom: 40px;
        flex-direction: column;
    }
    .order__form-title {
        padding-top: 0 !important;
    }
    .order {
        & .section-title {
            padding-top: 0 !important;
        }
    }
    .order_price .order__wrapper {
        padding-top: 20px !important;
    }
    .order__img_price {
        display: none;
    }
    .team {
        &__title {
            padding-top: 30px;
        }
        &__line {
            margin-top: 35px;
        }
        &__item-avatar {
            width: 113px;
            height: 113px;
        }
        &__item-name {
            font-size: 18px;
        }
        &__social-line {
            padding-bottom: 53px;
        }
    }
    .history__timeline-text {
        padding-right: 0;
    }
    .product-list__sort {
        display: none;
    }
    .product-list__calc-wrapper {
        margin-top: 0;
    }
    .filter__sort,
    .filter__filters,
    .filter__categories {
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        max-height: 0;
        // height: fit-content;
        height: 90vh;
        width: 100%;
        background: #fff;
        z-index: 22;
        border-radius: 16px 16px 0px 0px;
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            left: 50%;
            top: 10px;
            transform: translate(-50%, 0);
            background: #d9d9d9;
            width: 20px;
            height: 3px;
            border-radius: 2px;
        }
        &.open {
            max-height: 100vh;
            padding-bottom: 40px;
        }
    }
    .filter__category-btn {
        display: flex;
    }

    .filter__wrapper {
        overflow-y: scroll;
        padding: 0;
        flex: 1 0 auto;
    }
    .filter__item {
        padding: 0 20px;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -15px;
            width: 100%;
            height: 1px;
            background: var(--line-color);
        }
    }
    .filter__item-btn {
        right: 20px;
    }
    .filter__title {
        display: none;
    }
    .filter__title-mobile {
        margin-top: 40px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        font-weight: 700;
    }
    .filter__back-btn {
        width: 18px;
        height: 18px;
        cursor: pointer;
    }
    .filter__close-btn {
        position: relative;
        width: 18px;
        height: 18px;
        cursor: pointer;
        & div {
            position: absolute;
            width: 25px;
            height: 2px;
            background: var(--main-color-red);
            border-radius: 1px;
            top: 50%;
            left: 50%;
            &:nth-child(1) {
                transform: translate(-50%, -50%) rotate(45deg);
            }
            &:nth-child(2) {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }
    .filter__btn {
        display: flex;
        margin: 0 auto;
        width: 100%;
        max-width: 320px;
        flex: 0 0 32px;
    }
    .filter__banner {
        display: none;
    }
    .filter__item-title {
        font-size: 14px;
    }
    .filter__item_select label {
        font-size: 14px;
    }
    .filter__item-grid_double {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
        & .filter__item_select {
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        & .filter__item_select label {
            padding: 10px 16px;
            border: 1px solid rgba(109, 111, 119, 0.5);
            border-radius: 5px;
        }
        & .filter__item_select label {
            &::before {
                display: none;
            }
        }
        & .filter__item_select input:checked + label {
            border-color: var(--main-color-red);
        }
    }
    .product-list__mobile-panel {
        display: flex;
    }

    .product-list__menu {
        padding: 0;
        border: none;
        overflow: hidden;
        width: 0;
    }
    .product-list__wrapper {
        display: block;
    }
    .product-list__calc-total-price-value {
        font-size: 24px !important;
    }
    .product-list__calc-total p {
        font-size: 14px;
    }
    .product-list__calc-select-block {
        font-size: 12px;
    }
    .product-list__calc-text-input input {
        font-size: 12px;
        height: 28px;
        width: 48px;
    }
    .product-list__calc-bottom-select input {
        height: 28px;
    }
    .product-list__material-calc-select {
        height: 28px;
    }
    .product-list__calc-total {
        padding: 15px;
    }
    .product-list__calc-title {
        padding-top: 0 !important;
    }
    .product-list__calc-selecters {
        padding: 15px;
    }
}
@media (max-width: 600px) {
    .header__cart-total {
        display: none;
    }
    .header__cart-block {
        margin-right: 10px;
    }
    .header__contact-block {
        height: 100%;
        margin-right: -10px;
        gap: 0;
    }
    .btn_header {
        display: none;
    }
    .header__call-block {
        justify-content: center;
        width: 47px;
        height: 100%;
        border-left: 1px solid var(--line-color);
    }
    .header__call-block-img {
        display: none;
    }
    .header__call-block-img_dark {
        display: block;
    }
    .header__nav-line {
        gap: 10px;
    }
    .header__price-list-link {
        white-space: nowrap;
    }
    .contact-menu {
        bottom: 0;
        left: auto;
        right: -47px;
        transform: translate(0, 100%);
    }
    .burger {
        &__wrapper {
            display: flex;
        }
    }
    .modal-recall__block,
    .modal-call-order__block {
        padding: 40px 14px;
        width: 320px;
        height: auto;
    }
    .modal-recall__close-btn,
    .modal-call-order__close-btn {
        width: 12px;
        height: 12px;
        & div {
            width: 17px;
        }
    }
    .modal-recall-title,
    .modal-call-order__form-title {
        font-size: 12px;
    }

    .modal-recall__title,
    .modal-call-order__title {
        font-size: 26px;
    }
    .modal-recall__subtitle,
    .modal-call-order__subtitle {
        font-size: 12px;
    }
    .modal-call-order input {
        height: 40px;
    }
    .btn_call-order {
        height: 50px;
        width: 100%;
    }
    .main-slide__title {
        width: 300px;
    }
    .main-slide__img {
        right: -140px;
    }
    .footer__wrapper {
        padding: 20px 0 26px;
    }
    .footer__grid {
        display: none;
    }
    .footer__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .footer__social {
        margin: 0;
    }
    .footer__logo {
        width: 175px;
    }
    .footer__bottom {
        padding: 20px 0 48px;
        height: auto;
        font-size: 12px;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 5px;
    }
    .contacts__content {
        flex-direction: column;
    }
    .contacts__map {
        flex: 0 0 430px;
    }
    .nav-line__wrapper {
        display: none;
    }
    .product__price-actual {
        font-size: 24px;
    }
    .product__price-old {
        font-size: 18px;
    }
    .product__price-promo {
        font-size: 14px;
    }
    .product__material-name {
        // font-size: 12px;
    }
    .product__outofstock,
    .product__instock {
        font-size: 10px;
    }
    .product-card__name {
        font-size: 12px;
    }
    .product-card__price {
        font-size: 12px;
    }
    .product-card__old-price {
        font-size: 9px;
    }
    .properties__page[data-property="parameter"] {
        font-size: 12px;
    }
    .properties__btn {
        padding: 8px 16px;
        font-size: 12px;
    }
    .modal-cart {
        &__modal {
            padding: 40px 20px;
            width: 100%;
            height: auto;
        }

        &__close {
            right: 20px;
            top: 15px;
            width: 10px;
            height: 10px;
            & div {
                width: 18px;
            }
        }
        &__title {
            font-size: 18px;
        }
        &__content {
            flex-direction: column;
        }
        &__name {
            font-size: 12px;
        }
        &__properties {
            font-size: 10px;
        }
        &__price {
            font-size: 16px;
        }
        &__btn-block {
            flex-direction: column;
        }
        &__btn {
            flex: 0 0 auto;
        }
    }
    .history__timeline-item {
        margin-bottom: 16px;
        grid-template-columns: 24px 1fr;
        grid-template-areas:
            "line data"
            "line text";
        & br {
            display: none;
        }
    }
    .history {
        &__timeline-date {
            grid-area: data;
        }
        &__timeline-line {
            grid-area: line;
        }
        &__timeline-text {
            grid-area: text;
        }
    }
}
@media (max-width: 500px) {
    .product-list__calc-select-block {
        flex-direction: column;
    }
    .product-list__grid_short {
        gap: 15px;
    }
    .product-card__label_yellow,
    .product-card__label_red {
        font-size: 8px;
        padding: 2px 8px;
        border-radius: 3px;
    }
    .product-list__pagination-prev-btn,
    .product-list__pagination-next-btn {
        display: none;
    }
    .product-list__pagination-page-btn {
        font-size: 12px;
        width: 32px;
        height: 32px;
    }
}
@media (max-width: 400px) {
    .services__item .grid__item-text,
    .services__item .grid__item-title {
        padding: 0 10px;
    }
    .grid__item_description .small-btn {
        left: 10px;
        bottom: 20px;
    }
    .catalog .grid__item-content {
        padding: 15px;
    }
    .catalog__small-btn {
        bottom: 15px;
        left: 15px;
    }
    .order__img {
        display: none;
    }
    .order__form {
        background: #fff;
        padding: 14px;
        border-radius: 5px;
    }
    .order__input-block textarea,
    .order__input-block input {
        background: #f5f6fa;
    }
    .order__btn {
        width: 100%;
    }
    .product__rating {
        font-size: 12px;
    }
    .product__selectors {
        font-size: 12px;
    }
    .product__material-select {
        width: 164px;
        height: 34px;
    }
    .product__material-name {
        font-size: 12px;
    }
    .product__material-list label {
        font-size: 12px;
    }
    .product__quantity-btn-block {
        gap: 4px;
    }
    .product__quantity-btn-plus,
    .product__quantity-display,
    .product__quantity-btn-minus {
        height: 34px;
        width: 34px;
        font-size: 12px;
    }
    .header__nav-line-wrapper {
        position: relative;
    }

    .header__search-input-block {
        display: flex;
        align-items: center;
        gap: 13px;
        position: absolute;
        inset: 0;
        background: #1e2436;
        z-index: 10;
        overflow: visible;
        &.hide {
            display: none;
        }
    }
    .header__search-input-block input {
        margin-left: 20px;
    }
    .header__search-input-img {
        left: 34px;
    }

    .header__search-cancel {
        margin-right: 20px;
        display: block;
        color: #fff;
        font-size: 10px;
    }
    .header__search-history {
        display: block;
    }
}
@media (max-width: 360px) {
    .header__logo img {
        height: 15px;
    }
}
