@mixin font($ff, $file, $fw) {
   @font-face {
      font-family: "#{$ff}";
      src:
         url("../fonts/#{$file}.eot"),
         url("../fonts/#{$file}.eot?#iefix") format("embedded-opentype"),
         url("../fonts/#{$file}.woff2") format("woff2"),
         url("../fonts/#{$file}.woff") format("woff"),
         url("../fonts/#{$file}.ttf") format("truetype");
      font-weight: #{$fw};
      font-style: normal;
   }
}
//@include font(ff, file, fw);
